.card{
    background: #1D1D1D;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;

}
.speakers{
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
}
.photos img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit:cover;
    border: 2px solid #20bd5f;
    position: absolute;
    top:0;
    left: 0;
    background: #1D1D1D;
}
.photos img:last-child{
    top: 10px;
    left:20px;
}
.name{
    margin-left: 100px;
}
.name span{
    padding-bottom: 5px;
    display:inline-block;
    margin-right: 5px;
}
.peopleCount{
    text-align: right;
}
.peopleCount span{
    font-weight: bold;
    margin-right: 5px;
}
.singleSpeaker .photo img{
    position: initial;

}
.singleSpeaker .names{
    margin-left: 20px;
}